{% extends "layout.html" %}
{% load socialaccount %}

{% block title %} Login {% endblock%}

{% block content %}

<form method="post" action="">

        {% csrf_token %}

        {{form}}

        <button type="submit"> Login </button>
        <button>
                <a href="{% provider_login_url 'google' %}?next=/">
                        Login with Google
                </a>
        </button>
        <p>no tienes una cuenta ??</p>
        <a href="{% url 'Register' %}">Registrate</a>
        
</form>

{% endblock %}