<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm your email for code vs code</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_email.css' %}">
</head>
<body>
    <p>Hello {{ user.username }},</p>
    <p>Thank you for registering with us. Please click the following link to confirm your email:</p>
    <p><a href="{{ confirmation_url }}">Confirm your email</a></p>
    <p>If you didn't register, please ignore this email.</p>
</body>
</html>