{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/console.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.23.4/ace.js"></script>
    <link rel="stylesheet" href="https://pyscript.net/releases/2023.11.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>
</head>
<body class="background-index">

<py-config>
    plugins = [
      "https://pyscript.net/latest/plugins/python/py_tutor.py",
      "./py_list.py"
    ]
 
</py-config> 

<py-script>

    {% comment %} import js {% endcomment %}

    {% comment %} llamada_a_funcion = js.mostrar() {% endcomment %}
    
    {% comment %} print(llamada_a_funcion)
    print("wee") {% endcomment %}
    import sys
    import io
    from pyscript import display
    from js import document 
    from pyodide.ffi.wrappers import add_event_listener

    from pyweb import pydom

    {% comment %} def sendParams(evt, exercise_id):
        stdout_original = sys.stdout
        sys.stdout = io.StringIO()

        info = document.querySelector("#editor")
        contenido_innerText = info.innerText
        contenido_string = str(contenido_innerText) {% endcomment %}


    def myFunction(evt):

        stdout_original = sys.stdout
        sys.stdout = io.StringIO()

        info = document.querySelector("#editor")
        contenido_innerText = info.innerText
        contenido_string = str(contenido_innerText)

        
        
        {% comment %} print(info.innerText) {% endcomment %}
        {% comment %} print(contenido_string) {% endcomment %}
        try:
            exec(contenido_string)
            contenido_string_version2 = sys.stdout.getvalue()
            {% comment %} resultado = exec(contenido_string)
            resultado_string = str(resultado)  {% endcomment %}
            {% comment %} display(resultado_string) {% endcomment %}
            pydom['#element-creation-example'].html=" "
            new_div = pydom.create("div")
            new_p = new_div.create("p", classes=["code-description"], html=contenido_string_version2)
            pydom['#element-creation-example'][0].append(new_div)
        except Exception as e:
            print(f"Error al ejecutar el código: {e}")

    add_event_listener(
        document.getElementById("new-task-btn"),
        "click",
        myFunction
    )

    {% comment %} add_event_listener(
        document.getElementById("new-post-btn"),
        "click",
        sendParams
    ) {% endcomment %}
    {% comment %} guardarlo en un fichero aparte y ejecutar este {% endcomment %}



</py-script>






{% comment %} <section class="wrapper">

    <script type="py" terminal>
        print("hello world")

    
    </script> {% endcomment %}
<div class="container-wrapper">
    <div class="container-nav">
        <div class="container">
            <a>
                <img id="logo" src="{% static 'media/logo2.png' %}">
            </a>
            <div class="container-nav-main-elements">
                <div class="nav-element">
                    <img class="icon" src="{% static 'media/profile.png' %}">
                    <a>Profile</a>
                </div>
                <div class="nav-element">
                    <img class="icon" src="{% static 'media/news.png' %}">
                    <a>News</a>
                </div>
                <div class="nav-element">
                    <img class="icon" src="{% static 'media/exercises.png' %}">
                    <a>Exercises</a>
                </div>
                <div class="nav-element">
                    <img class="icon" src="{% static 'media/settings.png' %}">
                    <a>Settings</a>
                </div>
            </div>
            <div class="container-nav-logout nav-element">
                <img class="icon" src="{% static 'media/logout.png' %}">
                <a href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
    </div>



{% comment %} acaba el nav {% endcomment %}
    <div class="wrapper1">
        <div class="container-dashend-child ">
            {% if exercise.get_language_display == 'Python' %}
                <img class="icon" src="{% static 'media/python.png' %}">
            {% elif exercise.get_language_display == 'Javascript' %}
                <img class="icon" src="{% static 'media/js.png' %}">
            {% endif %}
            <p id="statement">{{ exercise.statement }}</p>
        </div>
    

    <div class="wrapper2">

    <form method="post" action="{% url 'save_solution' exercise.id %}">
        {% csrf_token %}
        {% comment %} <script type="py" terminal>print("hello world")</script> {% endcomment %}
        
    

        <div class="container-workarea">
            <div class="editor-container">
                <div id="editor"></div>
                <div id="editor-lectura"></div>
            </div>

            {% comment %} <div class="run-container">
                <input type="hidden" name="code" id="hidden-code-input">
            </div> {% endcomment %}
    
        </div>

        <div class="boton-container">
            {% comment %} <button id="grabar">grabar</button>
            {% endcomment %}

            <input type="hidden" name="code" id="hidden-code-input">
            <button type="submit" id="new-post-btn" class="py-button">Post</button>
            <button type="button" id="new-task-btn" class="py-button">Run code</button>
        </div>

        
    </form>
    <div id="element-creation-example">
        
    </div>

    </div>

</div>
    
    
    

    
       
</div>

<script type="text/javascript">

    

    console.log("Script ejecutándose");

    let boton = document.getElementById("new-task-btn");
    {% comment %} boton.addEventListener(mostrar); {% endcomment %}

    let postBtn = document.getElementById("new-post-btn");
    
    postBtn.addEventListener('click', function() {

        //var code = document.getElementById("editor").innerText;
        //var code = document.querySelector(".ace_text-input").value;
        //var code = document.querySelector("#editor");
        
        var code = editor.getValue();
        console.log("el codigo es", code)
        document.getElementById("hidden-code-input").value = code;
    });

    function mostrar(){
        var code = editor.getValue();
        return code;

    };

</script> 

<script src="../static/js/main.js"></script>
</body>
</html>