{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<title>
    {% block title %}

    {% endblock %}
</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Programing Exercises</a></li>
          <li><a href="/productos">Discusssions</a></li>
          <li>
            
                {% if user.is_authenticated %}
                    <p>
                        Hey  {{ user.username}} 😊
                    </p>
                    <a href="{% url 'logout' %}">Log out</a>

                {% else%}

                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'Register' %}">Register</a>

                {% endif %}
            
          </li>
        </ul>
    </nav>
    {% block content %}

    {% endblock %}
   

</body>
</html>