{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stars.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/console.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.23.4/ace.js"></script>
    <link rel="stylesheet" href="https://pyscript.net/releases/2023.11.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>
<title>
    {% block title %}

    {% endblock %}
</title>
</head>
<body>
    <nav id="nav-bar">
        <div class="logo">
            <a href="{% url 'index' %}" title="home">
                <img class="logo" src="{% static 'media/logo/0.png' %}">
            </a>
        </div>
        <ul>
          <li class="links"><a href="/">Programing Exercises</a></li>
          <li class="links"><a href="/productos">Discusssions</a></li>
          <li class="links">
            
                {% if user.is_authenticated %}
                    <p>
                        Hey  {{ user.username}} 😊
                    </p>
                    <a href="{% url 'logout' %}">Log out</a>

                {% else%}

                <a href="{% url 'login' %}">Login</a>
                

                {% endif %}
            
          </li>
        </ul>
    </nav>
    {% block content %}

    {% endblock %}
   

</body>
</html>